.tag-container {
    position: relative;
    font-size       : 85%;
    padding         : 0 10px 0 10px;
    margin          : 0.25em 0.1em;
    display         : inline-block;
    background-color: #ddd;
    transition      : all 0.1s linear;
    cursor          : pointer;
}

.tag-content {
    padding-right: 5px;
}

.tag-close-button {
    cursor: pointer;
    color: red;
    font-size: 13px;
    font-weight: solid;
}

.autocomplete-input {
    max-width: 50%;
}